body {
    margin: 0;
    padding: 0;
    background-color: white;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 40px;
    gap: 40px;
}

@font-face {
    font-family: "AnticDidone";
    src: url(/fonts/AnticDidone-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    font-family: "AnticDidone";
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

.container p {
    font-family: "AnticDidone";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
}

.container a {
    display: block;
    text-decoration: none;
    font-family: "AnticDidone";
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    color: black;
}

.container a:visited {
    color: black;
}

.content-and-title {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    max-width: 1044px;
    margin: 80px auto 0 auto;
    padding: 0 24px 0 24px;
}

.desktop-left {
    flex-basis: 372px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    flex-grow: 1;
}

.paragraphs-one-and-two {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.paragraphs-one-and-two p {
    flex-basis: 172px;
    flex-grow: 1;
}

.desktop-right {
    flex-basis: 604px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    flex-grow: 1;
}

.image-container {
    width: 100%;
}

.image-container picture {
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}
