body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 40px;
}

@font-face {
    font-family: "Finlandica";
    src: url(/fonts/Finlandica-VariableFont_wght.ttf);
    font-weight: 400;
    font-style: normal;
}

.header {
    display: flex;
    padding: 40px 200px 5px 20px;
    font-size: 30px;
    color: #B20600;
    font-family: "Finlandica";
    font-style: normal;
    font-weight: 400;
    background: #00092C;
    margin: 0;
}

.container a {
    text-decoration: none;
    color: #6c6c6c;
}

.container a:visited {
    color: #6c6c6c;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.content>* {
    padding: 20px;
    min-height: 100vh;
}

.left-column {
    display: flex;
    flex-flow: column nowrap;
    font-size: 24px;
    background: #e8e8e8;
    box-shadow: 2px 2px 12px 3px rgba(0, 0, 0, 0.1);
}

.Tom {
    background: #e8e8e8;
    padding: 20px;
}

.Tom p {
    margin-left: 15px;
}

.name-and-pic {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.25em;
}

.middle-column {
    padding: 20px;
    font-size: 18px;
}

.middle-column p {
    margin-top: 5px;
}

.middle-column h2 {
    margin: 0;
    font-size: 20px;
}