body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

* {
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.section {
    width: 100%;
    min-height: 75vh;
}

.first,
.second,
.fourth,
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "BowlbySC";
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.desktop-image {
    display: none;
}

.images {
    min-height: unset;
}

.desktop-image,
.mobile-image {
    width: 100%;
}

picture {
    width: 100%;
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

@media screen and (min-width: 992px) {
    .desktop-image {
        display: block;
    }

    .mobile-image {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .first,
    .second,
    .fourth {
        font-size: 36px;
    }

    .section {
        max-height: 50vh;
    }
}

@font-face {
    font-family: "BowlbySC";
    src: url(/fonts/BowlbyOneSC-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Bowlby";
    src: url(/fonts/BowlbyOne-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

.section {
    background: #489399;
    margin: 0;
    padding: 0;
    transition: background 1s ease, color 1s ease;
    color: #24494c;
}

.active {
    background: #75B9BE;
    color: #160808;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: #75B9BE;
    font-family: "Bowlby";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}
