body {
    margin: 0;
    padding: 0;
    background-color: #F0EBE3;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 40px;
    color: #160808;
}

@font-face {
    font-family: "Lobster";
    src: url(/fonts/Lobster-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    font-family: "Lobster";
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.directory-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-color: #576F72;
    padding: 24px;
    gap: 16px;
}

.directory-buttons a {
    color: #F0EBE3;
    text-decoration: none;
}

.directory-buttons a:visited {
    color: #F0EBE3;
}

.content {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.main-content {
    display: flex;
    flex-basis: 868px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-flow: column nowrap;
    background: #E4DCCF;
    padding: 24px;
    font-size: 18px;
    gap: 24px;
    border-radius: 8px;
}

.main-content p {
    margin: 0;
    padding: 0;
}

.sidebar {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
    background: #E4DCCF;
    padding: 24px;
    border-radius: 8px;
}

.sidebar p {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1199px) and (min-width:500px) {
    .content {
        margin-left: 64px;
        margin-right: 64px;
    }
}
